# Exploratory Data Analysis (EDA)

## Introduction
The purpose of this notebook is to perform an EDA on each provided data set to assist in determining what they contain and which would be most useful for our analysis.

## 1. Data Loading
I'm going to start with the csv and tsv files and will take a look at the sqlite file separately.

In [2]:
import pandas as pd

# Load the datasets
bom_movie_gross = pd.read_csv('zippedData/bom.movie_gross.csv.gz')
rt_movie_info = pd.read_csv('zippedData/rt.movie_info.tsv.gz', sep='\t')
rt_reviews = pd.read_csv('zippedData/rt.reviews.tsv.gz', sep='\t', encoding='ISO-8859-1')
tmdb_movies = pd.read_csv('zippedData/tmdb.movies.csv.gz')
tn_movie_budgets = pd.read_csv('zippedData/tn.movie_budgets.csv.gz')

# Display loaded data head
bom_movie_gross.head(), rt_movie_info.head(), rt_reviews.head(), tmdb_movies.head(), tn_movie_budgets.head()

(                                         title studio  domestic_gross  \
 0                                  Toy Story 3     BV     415000000.0
 1                   Alice in Wonderland (2010)     BV     334200000.0
 2  Harry Potter and the Deathly Hallows Part 1     WB     296000000.0
 3                                    Inception     WB     292600000.0
 4                          Shrek Forever After   P/DW     238700000.0

   foreign_gross  year
 0     652000000  2010
 1     691300000  2010
 2     664300000  2010
 3     535700000  2010
 4     513900000  2010  ,
    id                                           synopsis rating  \
 0   1  This gritty, fast-paced, and innovative police...      R
 1   3  New York City, not-too-distant-future: Eric Pa...      R
 2   5  Illeana Douglas delivers a superb performance ...      R
 3   6  Michael Douglas runs afoul of a treacherous su...      R
 4   7                                                NaN     NR

                                  genre          director  \
 0  Action and Adventure|Classics|Drama  William Friedkin
 1    Drama|Science Fiction and Fantasy  David Cronenberg
 2    Drama|Musical and Performing Arts    Allison Anders
 3           Drama|Mystery and Suspense    Barry Levinson
 4                        Drama|Romance    Rodney Bennett

                             writer  theater_date      dvd_date currency  \
 0                   Ernest Tidyman   Oct 9, 1971  Sep 25, 2001      NaN
 1     David Cronenberg|Don DeLillo  Aug 17, 2012   Jan 1, 2013        $
 2                   Allison Anders  Sep 13, 1996  Apr 18, 2000      NaN
 3  Paul Attanasio|Michael Crichton   Dec 9, 1994  Aug 27, 1997      NaN
 4                     Giles Cooper           NaN           NaN      NaN

   box_office      runtime             studio
 0        NaN  104 minutes                NaN
 1    600,000  108 minutes  Entertainment One
 2        NaN  116 minutes                NaN
 3        NaN  128 minutes                NaN
 4        NaN  200 minutes                NaN  ,
    id                                             review rating   fresh  \
 0   3  A distinctly gallows take on contemporary fina...    3/5   fresh
 1   3  It's an allegory in search of a meaning that n...    NaN  rotten
 2   3  ... life lived in a bubble in financial dealin...    NaN   fresh
 3   3  Continuing along a line introduced in last yea...    NaN   fresh
 4   3             ... a perverse twist on neorealism...     NaN   fresh

            critic  top_critic         publisher               date
 0      PJ Nabarro           0   Patrick Nabarro  November 10, 2018
 1  Annalee Newitz           0           io9.com       May 23, 2018
 2    Sean Axmaker           0  Stream on Demand    January 4, 2018
 3   Daniel Kasman           0              MUBI  November 16, 2017
 4             NaN           0      Cinema Scope   October 12, 2017  ,
    Unnamed: 0            genre_ids     id original_language  \
 0           0      [12, 14, 10751]  12444                en
 1           1  [14, 12, 16, 10751]  10191                en
 2           2        [12, 28, 878]  10138                en
 3           3      [16, 35, 10751]    862                en
 4           4        [28, 878, 12]  27205                en

                                  original_title  popularity release_date  \
 0  Harry Potter and the Deathly Hallows: Part 1      33.533   2010-11-19
 1                      How to Train Your Dragon      28.734   2010-03-26
 2                                    Iron Man 2      28.515   2010-05-07
 3                                     Toy Story      28.005   1995-11-22
 4                                     Inception      27.920   2010-07-16

                                           title  vote_average  vote_count
 0  Harry Potter and the Deathly Hallows: Part 1           7.7       10788
 1                      How to Train Your Dragon           7.7        7610
 2                                    Iron Man 2           6.8       12368
 3                                     Toy Story           7.9       10174
 4                                     Inception           8.3       22186  ,
    id  release_date                                        movie  \
 0   1  Dec 18, 2009                                       Avatar
 1   2  May 20, 2011  Pirates of the Caribbean: On Stranger Tides
 2   3   Jun 7, 2019                                 Dark Phoenix
 3   4   May 1, 2015                      Avengers: Age of Ultron
 4   5  Dec 15, 2017            Star Wars Ep. VIII: The Last Jedi

   production_budget domestic_gross worldwide_gross
 0      $425,000,000   $760,507,625  $2,776,345,279
 1      $410,600,000   $241,063,875  $1,045,663,875
 2      $350,000,000    $42,762,350    $149,762,350
 3      $330,600,000   $459,005,868  $1,403,013,963
 4      $317,000,000   $620,181,382  $1,316,721,747  )

## 2. Basic Statistics and Structure
Here we inspect the structure, data types, and basic statistics for each dataset.

In [4]:
# Inspecting basic info and statistics for each dataset

# BOM Movie Gross
print("BOM Movie Gross Data Info:")
bom_movie_gross.info()
print("BOM Movie Gross Summary Statistics:")
print(bom_movie_gross.describe(include='all'))

# RT Movie Info
print("RT Movie Info Data Info:")
rt_movie_info.info()
print("RT Movie Info Summary Statistics:")
print(rt_movie_info.describe(include='all'))

# RT Reviews
print("RT Reviews Data Info:")
rt_reviews.info()
print("RT Reviews Summary Statistics:")
print(rt_reviews.describe(include='all'))

# TMDB Movies
print("TMDB Movies Data Info:")
tmdb_movies.info()
print("TMDB Movies Summary Statistics:")
print(tmdb_movies.describe(include='all'))

# TN Movie Budgets
print("TN Movie Budgets Data Info:")
tn_movie_budgets.info()
print("TN Movie Budgets Summary Statistics:")
print(tn_movie_budgets.describe(include='all'))

BOM Movie Gross Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   object
 4   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB
BOM Movie Gross Summary Statistics:
            title studio  domestic_gross foreign_gross         year
count        3387   3382    3.359000e+03          2037  3387.000000
unique       3386    257             NaN          1204          NaN
top     Bluebeard    IFC             NaN       1200000          NaN
freq            2    166             NaN            23          NaN
mean          NaN    NaN    2.874585e+07           NaN  2013.958075
std           NaN    NaN    6.698250e+07           NaN     2.478141
min           NaN    NaN    1.000000e+02           NaN  2010.000000
25%           NaN    NaN    1.200000e+05           NaN  2012.000000
50%           NaN    NaN    1.400000e+06           NaN  2014.000000
75%           NaN    NaN    2.790000e+07           NaN  2016.000000
max           NaN    NaN    9.367000e+08           NaN  2018.000000
RT Movie Info Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1560 entries, 0 to 1559
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            1560 non-null   int64
 1   synopsis      1498 non-null   object
 2   rating        1557 non-null   object
 3   genre         1552 non-null   object
 4   director      1361 non-null   object
 5   writer        1111 non-null   object
 6   theater_date  1201 non-null   object
 7   dvd_date      1201 non-null   object
 8   currency      340 non-null    object
 9   box_office    340 non-null    object
 10  runtime       1530 non-null   object
 11  studio        494 non-null    object
dtypes: int64(1), object(11)
memory usage: 146.4+ KB
RT Movie Info Summary Statistics:
                 id                                           synopsis rating  \
count   1560.000000                                               1498   1557
unique          NaN                                               1497      6
top             NaN  A group of air crash survivors are stranded in...      R
freq            NaN                                                  2    521
mean    1007.303846                                                NaN    NaN
std      579.164527                                                NaN    NaN
min        1.000000                                                NaN    NaN
25%      504.750000                                                NaN    NaN
50%     1007.500000                                                NaN    NaN
75%     1503.250000                                                NaN    NaN
max     2000.000000                                                NaN    NaN

        genre          director       writer theater_date     dvd_date  \
count    1552              1361         1111         1201         1201
unique    299              1125         1069         1025          717
top     Drama  Steven Spielberg  Woody Allen  Jan 1, 1987  Jun 1, 2004
freq      151                10            4            8           11
mean      NaN               NaN          NaN          NaN          NaN
std       NaN               NaN          NaN          NaN          NaN
min       NaN               NaN          NaN          NaN          NaN
25%       NaN               NaN          NaN          NaN          NaN
50%       NaN               NaN          NaN          NaN          NaN
75%       NaN               NaN          NaN          NaN          NaN
max       NaN               NaN          NaN          NaN          NaN

       currency box_office     runtime              studio
count       340        340        1530                 494
unique        1        336         142                 200
top           $    600,000  90 minutes  Universal Pictures
freq        340          2          72                  35
mean        NaN        NaN         NaN                 NaN
std         NaN        NaN         NaN                 NaN
min         NaN        NaN         NaN                 NaN
25%         NaN        NaN         NaN                 NaN
50%         NaN        NaN         NaN                 NaN
75%         NaN        NaN         NaN                 NaN
max         NaN        NaN         NaN                 NaN
RT Reviews Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54432 entries, 0 to 54431
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          54432 non-null  int64
 1   review      48869 non-null  object
 2   rating      40915 non-null  object
 3   fresh       54432 non-null  object
 4   critic      51710 non-null  object
 5   top_critic  54432 non-null  int64
 6   publisher   54123 non-null  object
 7   date        54432 non-null  object
dtypes: int64(2), object(6)
memory usage: 3.3+ MB
RT Reviews Summary Statistics:
                  id                   review rating  fresh        critic  \
count   54432.000000                    48869  40915  54432         51710
unique           NaN                    48682    186      2          3496
top              NaN  Parental Content Review    3/5  fresh  Emanuel Levy
freq             NaN                       24   4327  33035           595
mean     1045.706882                      NaN    NaN    NaN           NaN
std       586.657046                      NaN    NaN    NaN           NaN
min         3.000000                      NaN    NaN    NaN           NaN
25%       542.000000                      NaN    NaN    NaN           NaN
50%      1083.000000                      NaN    NaN    NaN           NaN
75%      1541.000000                      NaN    NaN    NaN           NaN
max      2000.000000                      NaN    NaN    NaN           NaN

          top_critic        publisher             date
count   54432.000000            54123            54432
unique           NaN             1281             5963
top              NaN  eFilmCritic.com  January 1, 2000
freq             NaN              673             4303
mean        0.240594              NaN              NaN
std         0.427448              NaN              NaN
min         0.000000              NaN              NaN
25%         0.000000              NaN              NaN
50%         0.000000              NaN              NaN
75%         0.000000              NaN              NaN
max         1.000000              NaN              NaN
TMDB Movies Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26517 entries, 0 to 26516
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         26517 non-null  int64
 1   genre_ids          26517 non-null  object
 2   id                 26517 non-null  int64
 3   original_language  26517 non-null  object
 4   original_title     26517 non-null  object
 5   popularity         26517 non-null  float64
 6   release_date       26517 non-null  object
 7   title              26517 non-null  object
 8   vote_average       26517 non-null  float64
 9   vote_count         26517 non-null  int64
dtypes: float64(2), int64(3), object(5)
memory usage: 2.0+ MB
TMDB Movies Summary Statistics:
         Unnamed: 0 genre_ids             id original_language original_title  \
count   26517.00000     26517   26517.000000             26517          26517
unique          NaN      2477            NaN                76          24835
top             NaN      [99]            NaN                en           Eden
freq            NaN      3700            NaN             23291              7
mean    13258.00000       NaN  295050.153260               NaN            NaN
std      7654.94288       NaN  153661.615648               NaN            NaN
min         0.00000       NaN      27.000000               NaN            NaN
25%      6629.00000       NaN  157851.000000               NaN            NaN
50%     13258.00000       NaN  309581.000000               NaN            NaN
75%     19887.00000       NaN  419542.000000               NaN            NaN
max     26516.00000       NaN  608444.000000               NaN            NaN

          popularity release_date  title  vote_average    vote_count
count   26517.000000        26517  26517  26517.000000  26517.000000
unique           NaN         3433  24688           NaN           NaN
top              NaN   2010-01-01   Eden           NaN           NaN
freq             NaN          269      7           NaN           NaN
mean        3.130912          NaN    NaN      5.991281    194.224837
std         4.355229          NaN    NaN      1.852946    960.961095
min         0.600000          NaN    NaN      0.000000      1.000000
25%         0.600000          NaN    NaN      5.000000      2.000000
50%         1.374000          NaN    NaN      6.000000      5.000000
75%         3.694000          NaN    NaN      7.000000     28.000000
max        80.773000          NaN    NaN     10.000000  22186.000000
TN Movie Budgets Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5782 non-null   int64
 1   release_date       5782 non-null   object
 2   movie              5782 non-null   object
 3   production_budget  5782 non-null   object
 4   domestic_gross     5782 non-null   object
 5   worldwide_gross    5782 non-null   object
dtypes: int64(1), object(5)
memory usage: 271.2+ KB
TN Movie Budgets Summary Statistics:
                 id  release_date      movie production_budget domestic_gross  \
count   5782.000000          5782       5782              5782           5782
unique          NaN          2418       5698               509           5164
top             NaN  Dec 31, 2014  Halloween       $20,000,000             $0
freq            NaN            24          3               231            548
mean      50.372363           NaN        NaN               NaN            NaN
std       28.821076           NaN        NaN               NaN            NaN
min        1.000000           NaN        NaN               NaN            NaN
25%       25.000000           NaN        NaN               NaN            NaN
50%       50.000000           NaN        NaN               NaN            NaN
75%       75.000000           NaN        NaN               NaN            NaN
max      100.000000           NaN        NaN               NaN            NaN

       worldwide_gross
count             5782
unique            5356
top                 $0
freq               367
mean               NaN
std                NaN
min                NaN
25%                NaN
50%                NaN
75%                NaN
max                NaN

### Synopsis of the tsv and csv Data Sources

#### BOM Movie Gross:
- **Data Overview**:
  - **Total Entries**: 3,387
  - **Key Columns**: `title` (object), `studio` (object), `domestic_gross` (float64), `foreign_gross` (object), `year` (int64)
- **Data Types**:
  - `domestic_gross` is correctly typed as `float64`.
  - **Issues**: `foreign_gross` is stored as an object, likely due to the presence of non-numeric characters (e.g., commas, dollar signs). This column will need to be converted to `float64` after cleaning.
- **Re-casting Needed**: Convert `foreign_gross` from `object` to `float64` after data cleaning.

#### RT Movie Info:
- **Data Overview**:
  - **Total Entries**: 1,560
  - **Key Columns**: `id` (int64), `synopsis` (object), `rating` (object), `genre` (object), `director` (object), `box_office` (object)
- **Data Types**:
  - Most columns are correctly typed as `object`, given their textual nature.
  - **Issues**: `box_office` is stored as an `object` but should be numeric for analysis. It likely contains non-numeric characters that need cleaning.
  - `theater_date` and `dvd_date` are stored as `object` and may need conversion to `datetime`.
- **Re-casting Needed**:
  - Convert `box_office` from `object` to `float64` after cleaning.
  - Convert `theater_date` and `dvd_date` from `object` to `datetime`.

#### RT Reviews:
- **Data Overview**:
  - **Total Entries**: 54,432
  - **Key Columns**: `id` (int64), `review` (object), `rating` (object), `fresh` (object), `date` (object)
- **Data Types**:
  - **Issues**: `rating` is stored as `object`, but it could be converted to a numeric type if it represents numerical scores (e.g., 3/5).
  - `date` is stored as `object` and should be converted to `datetime` for time-based analysis.
- **Re-casting Needed**:
  - Convert `rating` to a numeric type if possible.
  - Convert `date` from `object` to `datetime`.

#### TMDB Movies:
- **Data Overview**:
  - **Total Entries**: 26,517
  - **Key Columns**: `id` (int64), `original_language` (object), `popularity` (float64), `release_date` (object), `vote_average` (float64)
- **Data Types**:
  - `popularity` and `vote_average` are correctly typed as `float64`.
  - **Issues**: `release_date` is stored as `object` and should be converted to `datetime`.
- **Re-casting Needed**:
  - Convert `release_date` from `object` to `datetime`.

#### TN Movie Budgets:
- **Data Overview**:
  - **Total Entries**: 5,782
  - **Key Columns**: `id` (int64), `release_date` (object), `production_budget` (object), `domestic_gross` (object), `worldwide_gross` (object)
- **Data Types**:
  - **Issues**: `production_budget`, `domestic_gross`, and `worldwide_gross` are stored as `object` and likely contain non-numeric characters (e.g., dollar signs, commas). These should be converted to `float64` after cleaning.
  - `release_date` is stored as `object` and should be converted to `datetime`.
- **Re-casting Needed**:
  - Convert `production_budget`, `domestic_gross`, and `worldwide_gross` from `object` to `float64` after cleaning.
  - Convert `release_date` from `object` to `datetime`.

## 3. Exploring the IMDb Database
Next, we'll connect to the IMDb SQLite database, list the tables, and explore the contents of each table.

In [9]:
import sqlite3
from zipfile import ZipFile

# Unzip the sqlite db file
with ZipFile("zippedData/im.db.zip", 'r') as zObject:
    zObject.extractall("zippedData/")

# Connect to the IMDb SQLite database
imdb_db_actual_path = 'zippedData/im.db'
conn = sqlite3.connect(imdb_db_actual_path)

# Get the list of tables in the database
tables_query = "SELECT name FROM sqlite_master WHERE type='table';"
tables = pd.read_sql(tables_query, conn)

# For each table, display the first few rows and basic information
table_infos = {}
for table in tables['name']:
    query = f"SELECT * FROM {table} LIMIT 5;"
    table_info = pd.read_sql(query, conn)
    table_infos[table] = table_info

# Close the connection
conn.close()

tables, table_infos

(            name
 0   movie_basics
 1      directors
 2      known_for
 3     movie_akas
 4  movie_ratings
 5        persons
 6     principals
 7        writers,
 {'movie_basics':     movie_id                    primary_title              original_title  \
  0  tt0063540                        Sunghursh                   Sunghursh
  1  tt0066787  One Day Before the Rainy Season             Ashad Ka Ek Din
  2  tt0069049       The Other Side of the Wind  The Other Side of the Wind
  3  tt0069204                  Sabse Bada Sukh             Sabse Bada Sukh
  4  tt0100275         The Wandering Soap Opera       La Telenovela Errante

     start_year  runtime_minutes                genres
  0        2013            175.0    Action,Crime,Drama
  1        2019            114.0       Biography,Drama
  2        2018            122.0                 Drama
  3        2018              NaN          Comedy,Drama
  4        2017             80.0  Comedy,Drama,Fantasy  ,
  'directors':     movie_id  person_id
  0  tt0285252  nm0899854
  1  tt0462036  nm1940585
  2  tt0835418  nm0151540
  3  tt0835418  nm0151540
  4  tt0878654  nm0089502,
  'known_for':    person_id   movie_id
  0  nm0061671  tt0837562
  1  nm0061671  tt2398241
  2  nm0061671  tt0844471
  3  nm0061671  tt0118553
  4  nm0061865  tt0896534,
  'movie_akas':     movie_id  ordering                                    title region  \
  0  tt0369610        10                            Джурасик свят     BG
  1  tt0369610        11                        Jurashikku warudo     JP
  2  tt0369610        12  Jurassic World: O Mundo dos Dinossauros     BR
  3  tt0369610        13                  O Mundo dos Dinossauros     BR
  4  tt0369610        14                           Jurassic World     FR

    language        types   attributes  is_original_title
  0       bg         None         None                0.0
  1     None  imdbDisplay         None                0.0
  2     None  imdbDisplay         None                0.0
  3     None         None  short title                0.0
  4     None  imdbDisplay         None                0.0  ,
  'movie_ratings':      movie_id  averagerating  numvotes
  0  tt10356526            8.3        31
  1  tt10384606            8.9       559
  2   tt1042974            6.4        20
  3   tt1043726            4.2     50352
  4   tt1060240            6.5        21,
  'persons':    person_id       primary_name birth_year death_year  \
  0  nm0061671  Mary Ellen Bauder       None       None
  1  nm0061865       Joseph Bauer       None       None
  2  nm0062070         Bruce Baum       None       None
  3  nm0062195       Axel Baumann       None       None
  4  nm0062798        Pete Baxter       None       None

                                   primary_profession
  0         miscellaneous,production_manager,producer
  1        composer,music_department,sound_department
  2                        miscellaneous,actor,writer
  3  camera_department,cinematographer,art_department
  4  production_designer,art_department,set_decorator  ,
  'principals':     movie_id  ordering  person_id  category       job        characters
  0  tt0111414         1  nm0246005     actor      None       ["The Man"]
  1  tt0111414         2  nm0398271  director      None              None
  2  tt0111414         3  nm3739909  producer  producer              None
  3  tt0323808        10  nm0059247    editor      None              None
  4  tt0323808         1  nm3579312   actress      None  ["Beth Boothby"],
  'writers':     movie_id  person_id
  0  tt0285252  nm0899854
  1  tt0438973  nm0175726
  2  tt0438973  nm1802864
  3  tt0462036  nm1940585
  4  tt0835418  nm0310087})

### Synopsis of IMDb Database Contents

The IMDB SQLite database contains several tables that provide detailed information related to movies, directors, writers, ratings, and more. Here’s a brief overview of the key tables:

1. **`movie_basics`**:
   - **Contents**: Basic information about movies including `movie_id`, `primary_title`, `original_title`, `start_year`, `runtime_minutes`, and `genres`.
   - **Example**: Contains movies like "Sunghursh" and "The Other Side of the Wind", with details on runtime and genres.

2. **`directors`**:
   - **Contents**: Links movies to their directors using `movie_id` and `person_id`.
   - **Example**: Maps movie IDs to director IDs, showing who directed which movie.

3. **`known_for`**:
   - **Contents**: Links persons (directors, actors, etc.) to the movies they are known for, using `person_id` and `movie_id`.
   - **Example**: Indicates which movies a person is prominently associated with.

4. **`movie_akas`**:
   - **Contents**: Contains alternate titles for movies in different regions and languages, with fields like `title`, `region`, `language`, and `is_original_title`.
   - **Example**: Shows alternate titles for "Jurassic World" across different regions.

5. **`movie_ratings`**:
   - **Contents**: Includes movie ratings, such as `averagerating` and `numvotes`, identified by `movie_id`.
   - **Example**: Contains ratings for movies, with an example showing a movie with a rating of 8.9 from 559 votes.

6. **`persons`**:
   - **Contents**: Information about persons involved in movie production, including `person_id`, `primary_name`, `birth_year`, `death_year`, and `primary_profession`.
   - **Example**: Lists individuals like "Mary Ellen Bauder" and their roles (e.g., producer, composer).

7. **`principals`**:
   - **Contents**: Lists key persons involved in movies, categorized by their roles (e.g., actor, director, producer), along with the characters they portrayed if applicable.
   - **Example**: Shows the main actors, directors, and producers for specific movies.

8. **`writers`**:
   - **Contents**: Links movies to their writers using `movie_id` and `person_id`.
   - **Example**: Identifies the writers responsible for the screenplay of specific movies.