# Movie Studio Analysis: Understanding Box Office Success
## Business Understanding
The company is planning to launch a new movie studio, but lacks experience in movie production. The goal of this analysis is to explore current trends in the film industry and provide actionable insights that can guide the studio's strategy. This analysis focuses on identifying factors that contribute to box office success, including genre, budget, release timing, and the impact of key personnel such as directors, actors, and writers.

## Data Understanding
The analysis is based on multiple datasets related to movie budgets, revenues, genres, release dates, and key personnel (directors, actors, and writers).

These datasets include:
   - **Box Office Mojo (BOM) Movie Gross**: Contains information on domestic and foreign box office revenues.
   - **TMDB Movies**: Includes information on movie popularity and ratings.
   - **IMDb Database**: Provides detailed information on directors, actors, writers, and other key personnel involved in the movies.

## Data Preparation
In this section, we will load, clean, and merge the datasets to prepare them for analysis.

In [31]:
# Library imports
import pandas as pd
import sqlite3
from zipfile import ZipFile
import numpy as np
import scipy.stats as stats
from dotenv import load_dotenv
import os
import requests

In [18]:
# Load the datasets
tmdb_movies = pd.read_csv("zippedData/tmdb.movies.csv.gz")
tn_movies = pd.read_csv("zippedData/tn.movie_budgets.csv.gz")

In [19]:
# Loading IMDb SQLite database

# Unzip the sqlite db file if not already done
with ZipFile("zippedData/im.db.zip", 'r') as zObject:
    zObject.extractall("zippedData/")

# Creating the connection
conn = sqlite3.connect("zippedData/im.db")

# Loading data for directors, actors, and writers filtering for US movies in English

# Queries
query_directors = """
SELECT mb.*, mr.averagerating, mr.numvotes, p.primary_name, p.birth_year, p.death_year, p.primary_profession
FROM movie_basics AS mb
JOIN movie_ratings AS mr ON mb.movie_id = mr.movie_id
JOIN principals AS pr ON mb.movie_id = pr.movie_id
JOIN persons AS p ON pr.person_id = p.person_id
JOIN movie_akas AS ma ON mb.movie_id = ma.movie_id
WHERE ma.region = 'US'
AND pr.category = 'director'
AND ma.language = 'en';
"""

query_actors = """
SELECT mb.*, mr.averagerating, mr.numvotes, p.primary_name, p.birth_year, p.death_year, p.primary_profession
FROM movie_basics AS mb
JOIN movie_ratings AS mr ON mb.movie_id = mr.movie_id
JOIN principals AS pr ON mb.movie_id = pr.movie_id
JOIN persons AS p ON pr.person_id = p.person_id
JOIN movie_akas AS ma ON mb.movie_id = ma.movie_id
WHERE ma.region = 'US'
AND pr.category = 'actor'
AND ma.language = 'en';
"""

query_writers = """
SELECT mb.*, mr.averagerating, mr.numvotes, p.primary_name, p.birth_year, p.death_year, p.primary_profession
FROM movie_basics AS mb
JOIN movie_ratings AS mr ON mb.movie_id = mr.movie_id
JOIN principals AS pr ON mb.movie_id = pr.movie_id
JOIN persons AS p ON pr.person_id = p.person_id
JOIN movie_akas AS ma ON mb.movie_id = ma.movie_id
WHERE ma.region = 'US'
AND pr.category = 'writer'
AND ma.language = 'en';
"""

query_basics = """
SELECT *
FROM movie_basics
"""

query_ratings = """
SELECT *
FROM movie_ratings
"""

# Execute queries and assign to dataframes
directors_merged = pd.read_sql_query(query_directors, conn)
actors_merged = pd.read_sql_query(query_actors, conn)
writers_merged = pd.read_sql_query(query_writers, conn)
movie_basics = pd.read_sql_query(query_basics, conn)
movie_ratings = pd.read_sql_query(query_ratings, conn)

# Close the connection
conn.close()

## Data Cleaning
Here I'll go through the process of cleaning the data by handling missing values, removing duplicate information, recasting data types, and feature engineering

In [20]:
# Cleaning IMDb data
def clean_imdb_data(df):
    # Handle missing values (dropping rows with missing ratings or votes)
    df = df.dropna(subset=['averagerating', 'numvotes', 'primary_name'])
    
    # Convert numvotes to integers
    df['numvotes'] = df['numvotes'].astype(int)
    
    # Filter out movies with less than 1000 votes
    df = df[df['numvotes'] >= 1000]
    
    return df

directors_cleaned = clean_imdb_data(directors_merged)
actors_cleaned = clean_imdb_data(actors_merged)
writers_cleaned = clean_imdb_data(writers_merged)

# Extrating the primary genre from the 'genres' column
movie_basics['primary_genre'] = movie_basics['genres'].apply(lambda x: x.split(',')[0] if pd.notnull(x) else None)

In [21]:
# Cleaning TMDB data
def clean_tmdb_data(df):
    # Handle missing values
    df = df.dropna(subset=['popularity', 'vote_count', 'release_date'])
    
    # Convert release_date to datetime
    df['release_date'] = pd.to_datetime(df['release_date'])
    
    # Convert vote_count to integer
    df['vote_count'] = df['vote_count'].astype(int)
    
    # Remove any duplicate values based on movie title and release date
    df = df.drop_duplicates(subset=['title', 'release_date'])
    
    return df

tmdb_cleaned = clean_tmdb_data(tmdb_movies)

In [22]:
# Cleaning 'The Numbers' movie budgets data

# Our selected data already has currency in the proper format but just in case I add more data later this will come in handy
def clean_currency(x):
    if isinstance(x, str):
        return float(x.replace('$', '').replace(',', ''))
    return x

def clean_tn_movie_budgets(df):
    # Apply the currency cleaning function to the budget and revenue columns
    df['production_budget'] = df['production_budget'].apply(clean_currency)
    df['domestic_gross'] = df['domestic_gross'].apply(clean_currency)
    df['worldwide_gross'] = df['worldwide_gross'].apply(clean_currency)
    
    # Convert release_date to datetime
    df['release_date'] = pd.to_datetime(df['release_date'])
    
    # Handle missing values
    df = df.dropna(subset=['production_budget', 'domestic_gross', 'worldwide_gross'])
    
    return df

tn_movie_budgets_cleaned = clean_tn_movie_budgets(tn_movies)

In [23]:
# Merge TMDB and TN Movie Budgets data
merged_data = pd.merge(tmdb_cleaned, tn_movie_budgets_cleaned, left_on='title', right_on='movie')

# Dropping duplicates based on 'title' and 'release_date'
if 'release_date' in merged_data.columns:
    merged_data = merged_data.drop_duplicates(subset=['title', 'release_date'])
    print("Dropped duplicates based on 'title' and 'release_date'.")
else:
    print("Error: 'release_date' column is missing in the merged data.")
    
# Merging IMDb data
# Ensuring correct data types
movie_basics['primary_title'] = movie_basics['primary_title'].astype(str)
merged_data['title'] = merged_data['title'].astype(str)

# Merge the primary genre from IMDb into the merged_data DataFrame
merged_data = pd.merge(merged_data, movie_basics[['primary_title', 'primary_genre']], left_on='title', right_on='primary_title', how='left')

# Drop the extra 'primary_title' column after merging
merged_data = merged_data.drop(columns=['primary_title'])

Error: 'release_date' column is missing in the merged data.

In [24]:
# Adding in ROI columns
merged_data['roi_domestic'] = merged_data['domestic_gross'] / merged_data['production_budget']
merged_data['roi_worldwide'] = merged_data['worldwide_gross'] / merged_data['production_budget']

In [25]:
# Extract the month from 'release_date_x' and create a new 'month' column
merged_data['month'] = merged_data['release_date_x'].dt.month

In [26]:
# Drop duplicates based on 'title' and 'release_date'
merged_data = merged_data.drop_duplicates(subset=['title', 'release_date_x'])

In [27]:
# Final merged dataset preview
merged_data.head()

,Unnamed: 0,genre_ids,id_x,original_language,original_title,popularity,release_date_x,title,vote_average,vote_count,id_y,release_date_y,movie,production_budget,domestic_gross,worldwide_gross,primary_genre,roi_domestic,roi_worldwide,month
0,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610,30,2010-03-26,How to Train Your Dragon,165000000.0,217581232.0,494870992.0,Action,1.318674,2.999218,3
1,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368,15,2010-05-07,Iron Man 2,170000000.0,312433331.0,621156389.0,Action,1.837843,3.653861,5
2,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174,37,1995-11-22,Toy Story,30000000.0,191796233.0,364545516.0,NaN,6.393208,12.151517,11
3,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186,38,2010-07-16,Inception,160000000.0,292576195.0,835524642.0,Action,1.828601,5.222029,7
4,5,"[12, 14, 10751]",32657,en,Percy Jackson & the Olympians: The Lightning T...,26.691,2010-02-11,Percy Jackson & the Olympians: The Lightning T...,6.1,4229,17,2010-02-12,Percy Jackson & the Olympians: The Lightning T...,95000000.0,88768303.0,223050874.0,Adventure,0.934403,2.347904,2

In [28]:
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2124 entries, 0 to 4420
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         2124 non-null   int64
 1   genre_ids          2124 non-null   object
 2   id_x               2124 non-null   int64
 3   original_language  2124 non-null   object
 4   original_title     2124 non-null   object
 5   popularity         2124 non-null   float64
 6   release_date_x     2124 non-null   datetime64[ns]
 7   title              2124 non-null   object
 8   vote_average       2124 non-null   float64
 9   vote_count         2124 non-null   int64
 10  id_y               2124 non-null   int64
 11  release_date_y     2124 non-null   datetime64[ns]
 12  movie              2124 non-null   object
 13  production_budget  2124 non-null   float64
 14  domestic_gross     2124 non-null   float64
 15  worldwide_gross    2124 non-null   float64
 16  primary_genre      1973 non-null   object
 17  roi_domestic       2124 non-null   float64
 18  roi_worldwide      2124 non-null   float64
 19  month              2124 non-null   int32
dtypes: datetime64[ns](2), float64(7), int32(1), int64(4), object(6)
memory usage: 340.2+ KB

In [33]:
# Looks like many of the genre values are missing. TMDB provides an API we can use to fill these in.
# I have my API key in a .env file for security purposes.
# Load environment variables from the .env file
load_dotenv()

# Retrieve the API key from the environment variable
api_key = os.getenv("TMDB_API_KEY")

# Function to get the primary genre from TMDB API based on the movie_id
def get_genre_from_tmdb(movie_id):
    url = f"https://api.themoviedb.org/3/movie/{movie_id}?language=en-US"

    headers = {
        "accept": "application/json",
        "Authorization": f"Bearer {api_key}"
    }

    try:
        response = requests.get(url, headers=headers)
        if response.status_code == 200:
            movie_data = response.json()
            if 'genres' in movie_data and len(movie_data['genres']) > 0:
                # Return the name of the first genre
                return movie_data['genres'][0]['name']
            else:
                return None
        else:
            print(f"Failed to fetch data for movie_id {movie_id}. Status code: {response.status_code}")
            return None
    except Exception as e:
        print(f"Error fetching genre for movie_id {movie_id}: {str(e)}")
        return None

# Function to update the primary_genre column for missing values
def update_missing_genres(df):
    # Identify rows where 'primary_genre' is missing
    missing_genre_rows = df[df['primary_genre'].isnull()]

    # Loop through the missing rows and fetch the genre
    for idx, row in missing_genre_rows.iterrows():
        movie_id = row['id_x']
        if pd.notnull(movie_id):  # Ensure movie_id is not NaN
            genre = get_genre_from_tmdb(movie_id)
            if genre:
                df.at[idx, 'primary_genre'] = genre
                print(f"Updated genre for movie_id {movie_id}: {genre}")
            else:
                print(f"Could not find genre for movie_id {movie_id}")

    return df

merged_data = update_missing_genres(merged_data)

Updated genre for movie_id 862: Animation
Updated genre for movie_id 863: Animation
Updated genre for movie_id 2502: Action
Updated genre for movie_id 2501: Action
Updated genre for movie_id 9737: Action
Updated genre for movie_id 568: Drama
Updated genre for movie_id 95: Action
Updated genre for movie_id 2503: Action
Updated genre for movie_id 35019: Comedy
Updated genre for movie_id 7980: Fantasy
Updated genre for movie_id 37861: Adventure
Updated genre for movie_id 25941: Thriller
Updated genre for movie_id 34647: Fantasy
Updated genre for movie_id 36419: Drama
Updated genre for movie_id 38542: Crime
Updated genre for movie_id 44718: Drama
Updated genre for movie_id 34769: Drama
Updated genre for movie_id 36970: Documentary
Updated genre for movie_id 33511: Drama
Updated genre for movie_id 43434: Crime
Updated genre for movie_id 38033: Horror
Updated genre for movie_id 12834: Comedy
Updated genre for movie_id 18530: Drama
Updated genre for movie_id 56601: Drama
Updated genre for movie_id 37206: Family
Updated genre for movie_id 33870: Drama
Updated genre for movie_id 5178: Drama
Updated genre for movie_id 69640: Drama
Updated genre for movie_id 49426: Drama
Updated genre for movie_id 60961: Comedy
Could not find genre for movie_id 355743
Could not find genre for movie_id 128822
Updated genre for movie_id 125418: Drama
Updated genre for movie_id 44953: Drama
Updated genre for movie_id 489: Drama
Updated genre for movie_id 31011: Science Fiction
Updated genre for movie_id 387: Drama
Updated genre for movie_id 755: Horror
Updated genre for movie_id 90: Comedy
Updated genre for movie_id 525: Music
Updated genre for movie_id 8068: Thriller
Updated genre for movie_id 2320: Action
Updated genre for movie_id 9619: Action
Updated genre for movie_id 70006: Drama
Updated genre for movie_id 44943: Science Fiction
Updated genre for movie_id 11033: Thriller
Updated genre for movie_id 97: Science Fiction
Updated genre for movie_id 13342: Comedy
Updated genre for movie_id 56288: Family
Updated genre for movie_id 16538: Comedy
Updated genre for movie_id 71866: Drama
Updated genre for movie_id 7353: Drama
Updated genre for movie_id 123928: Documentary
Updated genre for movie_id 178002: Adventure
Updated genre for movie_id 38415: Comedy
Updated genre for movie_id 81438: Action
Updated genre for movie_id 256858: Documentary
Updated genre for movie_id 108153: Family
Updated genre for movie_id 78814: Crime
Updated genre for movie_id 467930: Animation
Updated genre for movie_id 80589: Animation
Updated genre for movie_id 72003: Action
Updated genre for movie_id 60019: Drama
Updated genre for movie_id 2105: Comedy
Updated genre for movie_id 311: Drama
Updated genre for movie_id 36647: Horror
Updated genre for movie_id 61012: Thriller
Updated genre for movie_id 52520: Fantasy
Updated genre for movie_id 8007: Action
Updated genre for movie_id 96724: Drama
Updated genre for movie_id 9573: Thriller
Updated genre for movie_id 101173: Drama
Updated genre for movie_id 134371: Drama
Updated genre for movie_id 158150: Comedy
Updated genre for movie_id 128484: Horror
Updated genre for movie_id 89191: Crime
Updated genre for movie_id 521471: Animation
Updated genre for movie_id 241151: Comedy
Updated genre for movie_id 142377: Animation
Updated genre for movie_id 7131: Horror
Updated genre for movie_id 142061: Science Fiction
Updated genre for movie_id 77951: Animation
Updated genre for movie_id 9022: Horror
Updated genre for movie_id 10199: Adventure
Updated genre for movie_id 208134: Comedy
Updated genre for movie_id 114635: Horror
Updated genre for movie_id 225975: Crime
Updated genre for movie_id 501497: Documentary
Updated genre for movie_id 260861: Comedy
Updated genre for movie_id 193181: Documentary
Could not find genre for movie_id 371179
Updated genre for movie_id 254045: Drama
Updated genre for movie_id 176: Horror
Updated genre for movie_id 228967: Action
Updated genre for movie_id 11774: Adventure
Updated genre for movie_id 9767: Romance
Updated genre for movie_id 9671: Adventure
Updated genre for movie_id 236751: Drama
Updated genre for movie_id 256740: Action
Updated genre for movie_id 252360: Action
Updated genre for movie_id 244534: Comedy
Updated genre for movie_id 182873: Action
Updated genre for movie_id 285135: Science Fiction
Updated genre for movie_id 86987: Action
Updated genre for movie_id 265330: Documentary
Updated genre for movie_id 246449: Adventure
Failed to fetch data for movie_id 159822. Status code: 404
Could not find genre for movie_id 159822
Could not find genre for movie_id 496053
Could not find genre for movie_id 527937
Updated genre for movie_id 298923: Thriller
Updated genre for movie_id 290732: Horror
Updated genre for movie_id 297100: Family
Updated genre for movie_id 36648: Action
Updated genre for movie_id 257211: Comedy
Updated genre for movie_id 274479: Drama
Updated genre for movie_id 11519: Comedy
Updated genre for movie_id 272693: Romance
Updated genre for movie_id 308024: Mystery
Updated genre for movie_id 362105: Comedy
Updated genre for movie_id 341129: Drama
Could not find genre for movie_id 335874
Updated genre for movie_id 357837: Drama
Updated genre for movie_id 280: Action
Updated genre for movie_id 300671: War
Updated genre for movie_id 11368: Crime
Updated genre for movie_id 8293: Drama
Updated genre for movie_id 407887: History
Updated genre for movie_id 360799: Science Fiction
Updated genre for movie_id 375097: Comedy
Updated genre for movie_id 9799: Action
Could not find genre for movie_id 417698
Could not find genre for movie_id 429225
Updated genre for movie_id 427411: Drama
Updated genre for movie_id 391578: Romance
Updated genre for movie_id 381006: Drama
Updated genre for movie_id 354912: Family
Updated genre for movie_id 381283: Drama
Updated genre for movie_id 417644: Action
Updated genre for movie_id 840: Science Fiction
Updated genre for movie_id 397538: Drama
Updated genre for movie_id 527835: TV Movie
Updated genre for movie_id 62: Science Fiction
Updated genre for movie_id 336843: Science Fiction
Updated genre for movie_id 11253: Fantasy
Updated genre for movie_id 335788: Thriller
Updated genre for movie_id 505904: Family
Updated genre for movie_id 537138: Thriller
Updated genre for movie_id 500693: Documentary
Failed to fetch data for movie_id 505056. Status code: 404
Could not find genre for movie_id 505056
Updated genre for movie_id 513161: Animation
Updated genre for movie_id 514492: Animation

In [34]:
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2124 entries, 0 to 4420
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         2124 non-null   int64
 1   genre_ids          2124 non-null   object
 2   id_x               2124 non-null   int64
 3   original_language  2124 non-null   object
 4   original_title     2124 non-null   object
 5   popularity         2124 non-null   float64
 6   release_date_x     2124 non-null   datetime64[ns]
 7   title              2124 non-null   object
 8   vote_average       2124 non-null   float64
 9   vote_count         2124 non-null   int64
 10  id_y               2124 non-null   int64
 11  release_date_y     2124 non-null   datetime64[ns]
 12  movie              2124 non-null   object
 13  production_budget  2124 non-null   float64
 14  domestic_gross     2124 non-null   float64
 15  worldwide_gross    2124 non-null   float64
 16  primary_genre      2114 non-null   object
 17  roi_domestic       2124 non-null   float64
 18  roi_worldwide      2124 non-null   float64
 19  month              2124 non-null   int32
dtypes: datetime64[ns](2), float64(7), int32(1), int64(4), object(6)
memory usage: 404.7+ KB

In [35]:
# We were able to get genres for all but 10 of the movies so I will drop those that are missing
merged_data = merged_data.dropna(subset=['primary_genre'])

## Hypothesis testing

In [29]:
# Does genre significantly impact ROI?

# Drop missing values for the relevant columns
genre_roi_data = merged_data.dropna(subset=['primary_genre', 'roi_domestic', 'roi_worldwide'])

# Group by primary genre and calculate the mean revenue for each genre
genre_roi = genre_roi_data.groupby('primary_genre')['roi_worldwide'].mean()

# Perform ANOVA to test if the means are significantly different
anova_results = stats.f_oneway(*[genre_roi_data[genre_roi_data['primary_genre'] == genre]['roi_worldwide']
                                 for genre in genre_roi.index])

# Output the ANOVA results
print("ANOVA Results for Genre Impact on Worldwide ROI:")
print(f"F-statistic: {anova_results.statistic}, p-value: {anova_results.pvalue}")

# Interpretation
if anova_results.pvalue < 0.05:
    print("Reject the null hypothesis: There is a significant difference in worldwide ROI across genres.")
else:
    print("Fail to reject the null hypothesis: No significant difference in worldwide ROI across genres.")

ANOVA Results for Genre Impact on Worldwide ROI:
F-statistic: 4.885498161043862, p-value: 1.9515694973538687e-10
Reject the null hypothesis: There is a significant difference in worldwide ROI across genres.